<div class="row">
  <div class="large-6 large-offset-1 columns">
    <h1>Sign up <%= request.headers["HTTP_EVE_TRUSTED"] %></h1>
      <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create my account", class: "button radius" %>
    <% end %>
  </div>
</div>