<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert-box warning radius">
      Account creation failed.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li> <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>