
// Universal
body {
  background-color: #4F4F4F;
}

h1 {
  color: #FF8000;
}

h2 {
  color: white;
}

// Body
.content {
  background-color: #333;
  color: white;
  padding-top: 10px;
  outline: 2px solid black;
}

// user tab
.usertab {
  background-color: #333;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  outline: 2px solid black;
  min-height: 40px;
}

//Header
#logo {
  margin-right: 20px;
  letter-spacing: -1px;
  font-weight: bold;
  font-size: 1.5rem;
}